{% extends '::base.html.twig' %}
{% block body %}


<ul>
	{% for dato in datos %}
		<li>{{ dato.Monto }}</li>
	{% endfor %}
</ul>


{#<h1>Estado Financiero</h1>

<p><b>Ingresos:</b>	$400</p>

<p><b>Egresos:</b>	$-400</p>

<p><b>Cuotas:</b>	$100</p>

<p><b>Presupuesto disponible:</b>	$ 1000</p>#}
{% endblock %}