{% extends '::base.html.twig' %}
{% block body %}

<h1>Soporte Técnico</h1>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6-col-lg-6">
      	<address>
      	<h4 class="margin-bottom">Dirección</h4>
      		<strong>Dscorp S.A. de C.V. </strong><br>
      		Pedro Santacilia 258-1 <br>Col. Iztaccihualt, Del Benito Juárez México, 
      		<br>Distrito Federal
      	</address>
      	<address>
      		<h4 class="margin-bottom">Telefonos</h4>
      		5579 22 73<br>
      		5698 9651<br>
      		01 800 087 1097<br>
      	</address>
      	<address>
      		<h4 class="margin-bottom">Correo Electronico</h4>
      		<a href="mailto:alexis.leon@dscorp.com.mx">alexis.leon@dscorp.com.mx</a>
      	</address>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6-col-lg-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum iusto quam reiciendis repudiandae cumque, id quia, labore tempora, numquam earum a nemo architecto libero, nostrum omnis tempore consequatur? Rerum, suscipit.</p>
    </div>
</div>
{% endblock %}